﻿@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/upload.js"></script>
<div class="container">
    <div class="panel row">
        <h2>Upload files</h2>
        <Button id="browseButton" class="btn btn-success fileinput-button" disabled.bind="disableUpload">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add files...</span>
        </Button>
        <button id="startButton" data-bind="click: doUpload" type="submit" class="btn btn-primary start">
            <i class="glyphicon glyphicon-upload"></i>
            <span>Start upload</span>
        </button>
    </div>

    <ul class="list-group row">
        <li data-bind="foreach: filesToUpload" class="list-group-item col-md-12">
            <div class="col-md-3">
                <span data-bind="text: fileName"></span>
            </div>

            <div class="progress col-md-8 nopadding">
                <div class="progress-bar" role="progressbar"
                     aria-valuemin="0" aria-valuemax="100" data-bind="style: {width: progress()}">
                    <span class="sr-only" data-bind="text: fileName + ' Complete'"></span>
                </div>
            </div>
            <div class="col-md-1">
                <a data-bind="click: function(){removeFile(resumableFile)}">
                    <span class="glyphicon glyphicon-remove" style="cursor: pointer;color:red"></span>
                </a>
            </div>

        </li>
    </ul>
    <div class="progress row">
        <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="70"
             aria-valuemin="0" aria-valuemax="100" data-bind="style: {width: mainProgressBar()}">
            <span class="sr-only" data-bind="text: mainProgressBar + ' Complete'"></span>
        </div>
    </div>

    <div class="panel panel-default row">
        <div class="panel-heading">
            <h3 class="panel-title">Notes</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>Only image and video files (<strong>JPG, GIF, PNG, MP4, VID</strong>) are allowed in this demo (by default there is no file type restriction).</li>
                <li>Uploads will resume if you internet connection is interupted</li>
            </ul>
        </div>
    </div>
</div>